<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <img src="assets/Logo_Blanco2.png" alt="Universidad Santo Tomás" class="footer-logo">
         </div>

    <div class="footer-center">
      <h5 class="footer-subtitle">CONTACTO</h5>
      <div class="contact-info">
        <p><i class="fas fa-envelope"></i> dir.campusvirtual@ustatunja.edu.co</p>
        <p><i class="fas fa-phone"></i> +57 (608) 7440404 ext: 5470</p>
        <p><i class="fas fa-map-marker-alt"></i> Tunja, Colombia</p>
      </div>
    </div>

    <div class="footer-right">
      <h5 class="footer-subtitle">SÍGUENOS</h5>
      <div class="social-links">
        <a href="https://www.facebook.com/campusvirtualustatunja/" class="social-link" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/campusvirtual_santototunja?igsh=MTZndGx1b2NnOHVqaA==" class="social-link" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2026 Sistema de Seguimiento CV Docentes. Universidad Santo Tomás - Todos los derechos reservados.</p><br>
    <p>SJ</p>
  </div>
</footer>
